/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
    display: flex;
    justify-content: center;
}

h1 a {
    color: rgb(225, 239, 230);
    font-size: 6rem;
    padding: 1% 0;
}

h2 {
    font-size: 5rem;
    color: rgb(225, 239, 230);
    padding-left: 7%;
    padding-top: 3%;
}

h3 {
    font-size: 5rem;
    color: rgb(225, 239, 230);
}

p, a {
    font-size: 3rem;
    color: rgb(225, 239, 230);
}
.tinted {
    width: 100%;
    height: 107vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* header section */
header {
    background-color: rgb(0, 4, 17, .6);
    width: 100%;
    height: 22em;
}
br {
    display: none;
}
 /* header h1 nav {
    background-image: linear-gradient(rgb(0, 4, 17, .8), rgb(0, 4, 17, .8)), url('../img/home-header.jpg'); 
 } */
.just {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: .5%;
}

.just a {
    color: rgb(225, 239, 230);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 2.2rem;
    width: 100%;
}
.social {
    display: flex;
    justify-content: center;
    color: rgb(225, 239, 230);
    font-size: 3.5rem;
    width: auto;
}
.social i {
    padding: 0 3%;
}

/* spacers */
.spacer {
    width: 100%;
    height: 19vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    width: 100%;
    height: 130vh;
    text-align: center;
    background-color: rgb(0, 4, 17);
}
.images {
    margin-left: 7%;
    margin-right: 6%;
    padding-left: 4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.images img {
    margin-top: 4em;
    margin-left: 4em;
    height: 21em;
    width: 35em;
    display: flex;
    justify-content: center;
}

/* about us section */
.about {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background: linear-gradient(rgb(0, 4, 17, .8), rgb(0, 4, 17, .8)), url("../img/staff-cooks.jpg");
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.about h2 {
    width: 100%;
}
.about h3 {
    font-size: 3.7rem;
    padding-top: 13%;
}

.about-container .text {
    width: 50%;
}
.text p {
    font-size: 2.3rem;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
    padding-right: 3%;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact-container h3 {
    font-size: 3.9rem;
}

.address {
    width: 25%;
}
.contact-container p {
    font-size: 2.2rem;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}
#phone, #email {
    font-size: 2.4rem;
}


/* footer section */
footer {
    width: 100%;
    height: 29vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
}
.join h4 {
    font-size: 3.5rem;
    padding-left: 7%;
}
.join input {
    position: relative;
    font-size: 2.6rem;
    margin-left: 2%;
    width: 22%;
}
.join button {
    position: absolute;
    font-size: 2.6rem;
    padding-left: 0%;
    width: 8%;
    margin-top: .4%;
}
.fnav a {
    /* padding-right: 3%; */
    font-size: 2.4rem;
    position: relative;
    left: 16%;
    bottom: 11vh;
    margin-left: 11.6rem;
}
.fnav nav {
    margin-left: auto;
    margin-right: auto;
}
.fnav {
    display: flex;
    justify-content: center;
    padding-left: 15%;
    flex-wrap: nowrap;
    width: 100%;
    align-items: flex-start;
}

.copyright {
    display: flex;
    justify-content: flex-end;
}
.copyright p {
    font-size: 1.63rem;
    padding-right: 3%;
    padding-top: 1.2%;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    header {
        background-color: rgb(0, 4, 17, .6);
        width: 100%;
        height: 29em;
    }
    h1 a {
        font-size: 3.7rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    br {
        display: inline;
    }
    .just {
        display: flex;
        flex-direction: column;
    }
    .social {
        font-size: 2.4rem;
    }
    /* gallery section */
    .gallery {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .images {
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 0%;
    }
    .images img {
        margin-top: 4em;
        margin-left: 0em;
        height: 21em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .gallery h2 {
        font-size: 6rem;
        text-align: center;
        padding-top: 8vh;
    }
    .spacer {
        height: 30vh;
    }
    
    /* about us section */

    .about {
        height: 200vh;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 5vh;
        padding-right: 10%;
    }
    
    .about-container .text {
        width: 85%;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }
    .join h4 {
        font-size: 2.5rem;
        text-align: center;
        padding-bottom: 5%;
        padding-right: 8%;
    }
    .join input {
        position: relative;
        font-size: 2rem;
        margin-left: 7%;
        margin-bottom: 30%;
        width: 90%;
    }
    .join button {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        font-size: 2rem;
        padding-left: 34%;
        margin-left: 7%;
        width: 90%;
        margin-top: -30%;
        margin-bottom: 20%;
        text-align: center;
    }
    .fnav a {
        /* padding-right: 3%; */
        font-size: 3rem;
        position: relative;
        left: 0%;
        bottom: 11vh;
        margin-left: -7rem;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .fnav nav {
        margin-left: auto;
        margin-right: auto;
    }
    .fnav {
        display: flex;
        justify-content: center;
        padding-left: 15%;
        flex-wrap: nowrap;
        width: 100%;
        align-items: flex-start;
    }
    .copyright {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .copyright p {
        font-size: 1.4rem;
        padding-right: 3%;
        padding-top: 1.2%;
    }
}
